h1 {
  text-align: center;
}

.formStudent {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin: auto;
  justify-content: center;
}

.formStudent fieldset {
  margin-bottom: 30px;
  width: 250px;
  text-align: center;
}

.error {
  font-size: 10px;
  margin: 1px;
  color: rgb(109, 109, 109);
}
